<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title><?js= title ?> | StormJS</title>

        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/prettify.css">

        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
        <script src="scripts/libs/modernizr.js"></script>
    </head>

    <body>

        <aside id="Sidebar" class="sidebar">
            <?js= this.nav ?>
        </aside>

        <div class="container">
            <main id="Main" class="main">
                <header id="Header" class="header">
                    <h1>StormJS</h1>
                    <p>
                        StormJS gives structure to web applications by providing
                        <strong>models</strong> with getters, setters and events, centralized <strong>data contexts</strong>,
                        decoupled <strong>events</strong> and lightweight <strong>promises</strong>.
                    </p>
                </header>

                <h2><?js= title ?></h2>

                <?js= content ?>
            </main>
        </div>

        <script src="scripts/prettify/prettify.js"></script>
        <script>prettyPrint();</script>
        <script src="scripts/linenumber.js"></script>
    </body>
</html>
