<ul id="Menu">
	<h3 style="padding-left: 10px;">
		<a href="index.html">
			Storm.js
			<span style="font-size: 10px;">0.0.8</span>
		</a>
	</h3>

	{{#if namespaces}}
		<p class="title-item">
			<span class="title-heading">Namespaces</span>
		</p>
		<ul class="func-list">
			{{#each namespaces}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if globals}}
		<p class="title-item">
			<span class="title-heading">Globals</span>
		</p>
		<ul class="func-list">
			{{#each globals}}
				<li class="func-item">
					<a href="global.html#{{ this.longname }}" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if classes}}
		<p class="title-item">
			<span class="title-heading">Classes</span>
		</p>
		<ul class="func-list">
			{{#each classes}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if mixins}}
		<p class="title-item">
			<span class="title-heading">Mixins</span>
		</p>
		<ul class="func-list">
			{{#each mixins}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if modules}}
		<p class="title-item">
			<span class="title-heading">Modules</span>
		</p>
		<ul class="func-list">
			{{#each modules}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if tutorials}}
		<p class="title-item">
			<span class="title-heading">Tutorials</span>
		</p>
		<ul class="func-list">
			{{#each tutorials}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if events}}
		<p class="title-item">
			<span class="title-heading">Events</span>
		</p>
		<ul class="func-list">
			{{#each events}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if externals}}
		<p class="title-item">
			<span class="title-heading">Externals</span>
		</p>
		<ul class="func-list">
			{{#each externals}}
				<li class="func-item">
					<a href="{{ this.longname }}.html" class="func-link">&bull; {{ this.name }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</ul>
