<footer class="footer">
	<small>
		Tornado designed by <a href="http://thenounproject.com/jordan.delcros" target="_blank">Jordan Delcros</a> from the <a href="http://thenounproject.com/" target="_blank">Noun Project.</a>
	</small>
</footer>